# Dependencies
node_modules/
.npm

# Next.js
.next/
out/
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Data files
data/
